<%= include common/header.html %>


<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="side-colum">
                <h5><span class="glyphicon glyphicon-tasks"></span>栏目导航</h5>
                <ul>
                    <li><a href="##">微电影</a></li>
                    <li><a href="##">活动策划</a></li>
                    <li><a href="##">合作酒店</a></li>
                    
                </ul>
            </div>
            <div class="side-news">
                <h5><span class="glyphicon glyphicon-th-list"></span>最新动态</h5>
                <ul>
                    <li>
                        <a href="##">北京婚庆公司带准新人们挑既实用</a>
                        <span>日期：2013-10-30</span>
                    </li>
                    <li>
                        <a href="##">北京婚庆公司带准新人们挑既实用</a>
                        <span>日期：2013-10-30</span>
                    </li>
                    <li>
                        <a href="##">北京婚庆公司带准新人们挑既实用</a>
                        <span>日期：2013-10-30</span>
                    </li>
                </ul>
            </div>
            <div class="side-news">
                <h5><span class="glyphicon glyphicon-heart-empty"></span>推荐</h5>
                <ul>
                    <li>
                        <a href="##">北京婚庆公司带准新人们挑既实用</a>
                        <span>日期：2013-10-30</span>
                    </li>
                    <li>
                        <a href="##">北京婚庆公司带准新人们挑既实用</a>
                        <span>日期：2013-10-30</span>
                    </li>
                    <li>
                        <a href="##">北京婚庆公司带准新人们挑既实用</a>
                        <span>日期：2013-10-30</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-9">
            <div class="side-main">
                <h1>关于郁金香</h1>
                <div class="bd about">
                    <p>《北京郁金香文化传播有限公司》旗下具有《北京郁金香高端婚礼定制所》和《北京郁金香云星文化艺术中心》《北京π•studio派视觉工作室》共三家公司、从2002年成立以来致力于音乐、MV、微电影、春晚及地方晚会的制作和企业宣传片的策划，拥有全国最高端的录音设备、到2014年晚会活动宣传片、企业宣传微电影、并为众多中小型企业承办会议活动、庆典晚会、演唱会、奠基仪式、产品发布会、巡回路演慰问演出等活动策划以及执行工作。</p>
<p>北京郁金香文化传播有限公司从2012年5月4日正式成立子公司北京郁金香高端婚礼定制所，由于积累了超量活动策划以及演出策划经验，在设计婚礼的创意上别出心裁，赢得了业内一致好评。并且首创爱情微电影首映式婚礼，为新人打造自己的歌曲此种新颖的婚礼形式也开辟了国内婚礼领域的新潮流，用一场唯美、浪漫、感人甚至是啼笑皆非的电影把新人的爱情展示于众，让全场来宾亲眼见证他们的感情历程。独特的音乐为大家带来美好的记忆！</p>
<p>北京郁金香高端婚礼定制所继承中国传统婚礼的基本思维以及更好地融入西式婚礼模式，在85后们开始成为社会主力军后逐渐开拓能引领潮流的婚礼创意、庆典细节，把推动社会潮流的重任为己任，绝不甘于任意一场婚礼的平庸和俗套，努力创造新鲜概念，独创意识超前!</p>
<p>北京郁金香高端婚礼定制所业内口碑独树一帜，因此也受到了众多合作商家的青睐。国内资深花艺师、为郁金香打造鲜花创意团队，为每一对新人量身打造属于他们自己的花艺创作。多年积攒下来的舞台灯光团队都是身经百战的舞美设计师、灯光师，都有大型晚会活动、演唱会经验。主题晚会婚礼已经成为现今主流，郁金香在此主流中做到屡创唯新。</p>
<p>婚礼影像同样是郁金香最重视的环节，婚礼再豪华唯美也是一天，过了就会成为记忆，如何把这份记忆让它历久弥新是每一对新人都向往的。郁金香影视工作室从制作宣传片、文艺片、晚会、演唱会成功转型制作婚礼跟拍、后期制作，由于具备电影创作功底，因此每一场婚礼的后期制作都是影视级别效果，而不是单纯的婚礼实录，这让新人永久沉醉在婚礼当天的喜悦之中，业内也是明星口碑最好的婚庆公司。</p>
<p>好，如果你了解了郁金香并且喜欢郁金香的话，那就请走进我们让我们一起体会合作的愉快吧!</p>

                </div>
            </div>
        </div>
    </div>
</div>

<%= include common/footer.html %>