<%= include common/header.html %>


<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="side-colum">
                <h5><span class="glyphicon glyphicon-tasks"></span>栏目导航</h5>
                <ul>
                    <li><a href="##">微电影</a></li>
                    <li><a href="##">活动策划</a></li>
                    <li><a href="##">合作酒店</a></li>
                    
                </ul>
            </div>
            <div class="side-news">
                <h5><span class="glyphicon glyphicon-th-list"></span>最新动态</h5>
                <ul>
                    <li>
                        <a href="##">北京婚庆公司带准新人们挑既实用</a>
                        <span>日期：2013-10-30</span>
                    </li>
                    <li>
                        <a href="##">北京婚庆公司带准新人们挑既实用</a>
                        <span>日期：2013-10-30</span>
                    </li>
                    <li>
                        <a href="##">北京婚庆公司带准新人们挑既实用</a>
                        <span>日期：2013-10-30</span>
                    </li>
                </ul>
            </div>
            <div class="side-news">
                <h5><span class="glyphicon glyphicon-heart-empty"></span>推荐</h5>
                <ul>
                    <li>
                        <a href="##">北京婚庆公司带准新人们挑既实用</a>
                        <span>日期：2013-10-30</span>
                    </li>
                    <li>
                        <a href="##">北京婚庆公司带准新人们挑既实用</a>
                        <span>日期：2013-10-30</span>
                    </li>
                    <li>
                        <a href="##">北京婚庆公司带准新人们挑既实用</a>
                        <span>日期：2013-10-30</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-9">
            <div class="side-main">
                <h1>微电影</h1>
                <div class="row">
                    <div class="col-md-6">
                        <a href="##"><img class="img-responsive" src="images/2.jpg" alt=""></a>
                        <h6>精华花艺</h6>
                    </div>
                    <div class="col-md-6">
                        <a href="##"><img class="img-responsive" src="images/2.jpg" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%= include common/footer.html %>