<%= include common/header.html %>


<div class="container index-a">
    <div class="row">
        <div class="col-md-4">
            <p><img width="150" class="img-responsive img-thumbnail" src="yujinxiang/images/3.jpg" /></p>
            <p>我们的宗旨是我们的宗旨是，什么呢我们的宗旨，是什么呢什，么呢我们的宗旨是什么呢我们的宗旨，是什么呢</p>
        </div>
        <div class="col-md-4">
            <p><img width="150" class="img-responsive img-thumbnail" src="yujinxiang/images/3.jpg" /></p>
            <p>我们的宗旨是我们的宗旨是，什么呢我们的宗旨，是什么呢什，么呢我们的宗旨是什么呢我们的宗旨，是什么呢</p>
        </div>
        <div class="col-md-4">
            <p><img width="150" class="img-responsive img-thumbnail" src="yujinxiang/images/3.jpg" /></p>
            <p>我们的宗旨是我们的宗旨是，什么呢我们的宗旨，是什么呢什，么呢我们的宗旨是什么呢我们的宗旨，是什么呢</p>
        </div>
    </div>
</div>

<div class="container index-b">
    <h2>明星主持<small>Star Preside</small></h2>
    <div class="row">
        <div class="col-md-3">
            <a href="">
                <img src="yujinxiang/images/1.jpg" />
            </a>
        </div>
        <div class="col-md-3">
            <a href="">
                <img src="yujinxiang/images/1.jpg" />
            </a>
        </div>
        <div class="col-md-3">
            <a href="">
                <img src="yujinxiang/images/1.jpg" />
            </a>
        </div>
        <div class="col-md-3">
            <a href="">
                <img src="yujinxiang/images/1.jpg" />
            </a>
        </div>
    </div>
</div>

<%= include common/footer.html %>