<%= include common/header.html %>


<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="side-colum">
                <h5><span class="glyphicon glyphicon-tasks"></span>栏目导航</h5>
                <ul>
                    <li><a href="##">微电影</a></li>
                    <li><a href="##">活动策划</a></li>
                    <li><a href="##">合作酒店</a></li>
                    
                </ul>
            </div>
            <div class="side-news">
                <h5><span class="glyphicon glyphicon-th-list"></span>最新动态</h5>
                <ul>
                    <li>
                        <a href="##">北京婚庆公司带准新人们挑既实用</a>
                        <span>日期：2013-10-30</span>
                    </li>
                    <li>
                        <a href="##">北京婚庆公司带准新人们挑既实用</a>
                        <span>日期：2013-10-30</span>
                    </li>
                    <li>
                        <a href="##">北京婚庆公司带准新人们挑既实用</a>
                        <span>日期：2013-10-30</span>
                    </li>
                </ul>
            </div>
            <div class="side-news">
                <h5><span class="glyphicon glyphicon-heart-empty"></span>推荐</h5>
                <ul>
                    <li>
                        <a href="##">北京婚庆公司带准新人们挑既实用</a>
                        <span>日期：2013-10-30</span>
                    </li>
                    <li>
                        <a href="##">北京婚庆公司带准新人们挑既实用</a>
                        <span>日期：2013-10-30</span>
                    </li>
                    <li>
                        <a href="##">北京婚庆公司带准新人们挑既实用</a>
                        <span>日期：2013-10-30</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-9">
            <div class="side-main">
                <h1>新闻</h1>
                <ul class="side-main-list">
                    <li>
                        <a href="##"><span class="glyphicon glyphicon-record"></span>北京婚庆公司带准新人们挑既实用</a>
                        <span class="time">2014-06-06</span>
                    </li>
                    <li>
                        <a href="##"><span class="glyphicon glyphicon-record"></span>北京婚庆公司带准新人们挑既实用</a>
                        <span class="time">2014-06-06</span>
                    </li>
                </ul>
                <div class="row">
                    <div class="col-md-6">
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img width="64" class="media-object" src="yujinxiang/images/2.jpg" alt="...">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="">Media heading</a></h4>
                                <span>发布日期：20140206</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img width="64" class="media-object" src="yujinxiang/images/2.jpg" alt="...">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="">Media heading</a></h4>
                                <span>发布日期：20140206</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%= include common/footer.html %>