<header class="navbar navbar-inverse navbar-fixed-top" role="banner">
	<div class="container">
		<div class="navbar-header">
			<button class="navbar-toggle" type="button" data-toggle="collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</button>
			<a href="../" class="navbar-brand">NodeCMS</a>
		</div>
		<nav class="collapse navbar-collapse" role="navigation">
			<!--ul class="nav navbar-nav">
				<li class="active">
					<a href="../getting-started">起步</a>
				</li>
				<li>
					<a href="../css">CSS</a>
				</li>
				<li>
					<a href="../components">组件</a>
				</li>
				<li>
					<a href="../javascript">JavaScript插件</a>
				</li>
				<li>
					<a href="../customize">定制</a>
				</li>
			</ul-->
			<ul class="nav navbar-nav navbar-right">
				<li>
					<a href="../about"><%= user.username %></a>
				</li>
			</ul>
		</nav>
	</div>
</header>