<%= include common/header.html %>
<%= include common/nav.html %>
<div class="container docs-container">
    <div class="row">
        <%= include common/side.html %>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">系统</div>
                        <div class="panel-body">
                            <p>数据库当前大小<span class="label label-info"><%= data.size %></span>MB</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">用户</div>
                        <div class="panel-body">
                            <p>共<span class="label label-info"><%= data.num %></span>个管理员账号</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">文章</div>
                        <div class="panel-body">
                            <p>共<span class="label label-info">80</span>篇文章</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%= include common/footer.html %>
